package login

import "bitbucket.org/gosimple/oauth2"

func init() {
	login.Service = &oauth2.Config{
		ClientID:   clientId,
		ClientSecret: clientSecret,
		Scopes:       []string{"basic"},
		Endpoint:     github.Endpoint,
	}
}
