package login

import (
	"golang.org/x/oauth2"
	"golang.org/x/oauth2/github"
)

func init() {
	Service = &oauth2.Config{
		ClientID:     "<something>",
		ClientSecret: "<something>",
		Scopes:       []string{"basic"},
		Endpoint:     github.Endpoint,
	}
}
